*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: 'Poppins', Times, serif;
  background: linear-gradient(to left, #0000001a, #2e8b5733);
}

.nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  margin-top: 0;
  position: fixed;
  width: 100%;
  background-color: #fff;
  box-shadow: 2px 2px 2px lightblue;
  top: 0;
  z-index: 999;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin-left: -20px;
}

.nav-left {
  background: url('../images/tvm_api.png');
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 60px;
  background-position: center;
}

header {
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  margin-top: 100px;
}

header p:first-of-type {
  color: seagreen;
  font-weight: 700;
  font-size: 1.5rem;
}

header p:last-of-type {
  color: #19472d;
}

.Moviecounter {
  color: #000;
  animation: effect 5s ease-in-out 5s infinite alternate both;
}

@keyframes effect {
  0% {
    color: #000;
  }

  25% {
    color: blue;
  }

  50% {
    color: rebeccapurple;
  }

  100% {
    color: seagreen;
  }
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #fff;
}

.nav-middle .nav-items li a {
  margin-left: 25px;
  text-decoration: none;
  color: #19472d;
  font-size: 18px;
  cursor: pointer;
}

.main-page {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 0;
  width: 90%;
  margin: 0 auto;
}

.movie-container {
  margin: 20px auto;
  background-color: transparent;
  text-align: center;
  border: 1px solid rgb(192, 188, 188);
  border-right-color: #000;
  padding: 0 5px;
  border-radius: 15px;
  width: 80%;
}

img {
  border: 1px solid transparent;
  border-radius: 15px;
}

img:hover {
  transform: scale(0.9);
}

i {
  color: rgb(25, 71, 45);
}

i:active {
  color: #fff;
}

.details {
  margin: 5px 0 0;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movieBtn {
  text-align: center;
}

button {
  padding: 0.3rem 0.5rem;
  margin-bottom: 10px;
  box-shadow: 1.5px 2px 1px #000;
  border: 1px solid rgb(61, 60, 60);
  font-size: 1rem;
  font-family: inherit;
  border-radius: 10px;
}

button:hover {
  transform: scale(1.1);
}

@media screen  and (min-width: 500px) {
  .nav {
    flex-direction: row;
  }

  .main-page {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0 15px;
    width: 95%;
  }

  .movie-container {
    background-color: transparent;
    text-align: center;
    border: 1px solid rgb(192, 188, 188);
    border-right-color: #000;
    padding: 0 5px;
    border-radius: 15px;
  }
}

@media screen and (min-width: 768px) {
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }

  .nav-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin-right: 30px;
  }

  .nav-left {
    background: url('../images/tvm_api.png');
    background-repeat: no-repeat;
    background-size: 200px;
    width: 200px;
    height: 60px;
    background-position: center;
  }

  .main-page {
    display: grid;
    grid-template-columns: repeat(5, 240px);
    gap: 0 15px;
  }

  .movie-container {
    width: fit-content;
  }

  .details {
    margin: 5px 35px 0 0;
    display: flex;
    justify-content: space-between;
  }

  .stats {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .movieBtn {
    text-align: center;
  }
}
