*,
*::after,
*::before {
  padding: 0;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Poppins:wght@200;300;400;500;600;700&display=swap");

body {
  font-family: 'Inter', Times, serif;
}

.container {
  width: 90%;
  margin: auto;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
}

.nav-left {
  background: url('../images/tvm_api.png');
  background-repeat: no-repeat;
  background-size: 200px;
  width: 200px;
  height: 150px;
  background-position: center;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-middle .nav-items li a {
  margin-left: 25px;
  text-decoration: none;
  color: #000;
  font-size: 18px;
  cursor: pointer;
}

.main-page {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  row-gap: 30px;
}

.movie-container {
  width: fit-content;
}

.details {
  display: flex;
  justify-content: space-between;
}

.stats {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.movieBtn {
  text-align: center;
}

button {
  padding: 0.3rem 0.5rem;
  margin-bottom: 10px;
  box-shadow: 2px 2px 2px #000;
  border-color: rgb(61, 60, 60);
  font-size: 1rem;
  font-family: inherit;
}

button:hover {
  transform: scale(1.1);
}
